$secondary-color: #455a64;
$color-white: #ffffff;

.no-padding-top-bottom {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-padding-left-right {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.footer {
	background: $secondary-color;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 1299;
}

.nav-link {
	background: $color-white;
	&.link-active-item {
		background: $secondary-color !important;
	}
	& a {
		text-decoration: none;
	}
}

.link-active {
	color: $color-white;
}

.link-active-item .link-active {
	background: $secondary-color;
}

.link-active:hover {
	color: $color-white;
}

.link-active-item .link-active:hover {
	background: $secondary-color;
}
