.search-suggestion-selected {
    background: rgba(0, 0, 0, 0.08) !important;

    &:hover {
        background: rgba(0, 0, 0, 0.08) !important;
    }
}

.search-suggesstion-match-part {
	font-weight: bold;
	font-size: 15px;
}

.search-suggesstion-rest-part {
	font-weight: 500;
	font-size: 15px;
	margin-right: 2px;
}